@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bree+Serif&family=Cabin:ital@1&family=Dancing+Script:wght@400;500&family=Fira+Sans:wght@200&family=Montserrat:wght@300&family=Pacifico&family=Poppins:wght@100&family=Raleway:wght@100&family=Roboto:wght@300&family=Saira+Condensed:wght@300&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@300&display=swap');



.drycleaners{
 color:  #cbb1f5;
}


#carouselExampleIndicators img{
width: 100%;
height: 80vh;
}

.font{
  font-family: 'Dancing Script', cursive;
}

 .worimgker-{
  width: 50%;
 }

 .mybutton{
  background-color: #cbb1f5;
  border: none;
  color: white;
  padding: 7px 11px;
  border-radius: 7px;
}

.myborer{
  border: 2px solid #cbb1f5;
}

.justdial-img{
 cursor: pointer;
}

.orange{
  background-color: #cbb1f5;
  border: none;
  color: white;
  padding: 7px 11px;
  border-radius: 7px;
  width: 50%;
}
 


 
 